// place your custom styles here
@import "palette";

.vp-action.primary {
  color: $theme-color;
  font-weight: 900;
  box-sizing: border-box;
  background: url("https://images.blz-contentstack.com/v3/assets/blt9c12f249ac15c7ec/bltb5de5ae67a93d18c/646d181aeb5acf10b838eda9/scan_lines.png"), linear-gradient(180deg, rgba(0, 0, 0, 0.3) 30.73%, rgba(0, 51, 1, 0.3) 72.92%, rgba(0, 134, 3, 0.3) 100%), #151515;
  background-size: cover;
  background-blend-mode: lighten, normal, normal;
  border: 1px solid  $theme-color;
  border-radius: 4px;
  font-family: "Eurostile Extd";
  text-shadow: 0px 1px 5px #000000, 0px 1px 23px rgba(112, 255, 0, 0.29);
}

.vp-action.primary:hover {
  filter: brightness(120%);
  background: url("https://images.blz-contentstack.com/v3/assets/blt9c12f249ac15c7ec/bltb5de5ae67a93d18c/646d181aeb5acf10b838eda9/scan_lines.png"), linear-gradient(180deg, rgba(0, 0, 0, 0.3) 30.73%, rgba(0, 51, 1, 0.3) 72.92%, rgba(0, 134, 3, 0.3) 100%), #151515;
  border-color: $theme-color-light;
  color: $theme-color-light;
}

.vp-project-home {
  padding-top: 0;
}

.vp-navbar {
  margin: 5px;
  backdrop-filter: none;
  outline: 5px solid var(--navbar-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.vp-navbar:hover {
  border-color: $border-color-light;
}
.nav-link:hover {
  border-color: $border-color-light;
}
a:hover{
  color: $theme-color-light;
  text-decoration: none!important;
}
